@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";

.wrapper {
    margin: 20px auto 0 auto;
    width: 500px;
    background-color: #f8f9fe;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;

    h1 {
        font-size: 40px;
        margin-top: 10px !important;
    }

    label,
    h1 {
        font-weight: bold;
        padding-left: 10px;
        border-left: 5px solid #febd2e;
        margin: 20px 0 10px;
    }

    .button-wrapper {
        margin-top: 20px;
        display: flex;

        .custom-btn {
            background-color: #febd2e;
            border: none;
            vertical-align: super;
            transition: all ease 0.3s;
            font-weight: bold;
            padding: 10px 15px;

            i {
                &::before {
                    font-size: 24px;
                    vertical-align: bottom;
                }
            }
        }

        .switch {
            font-weight: bold;
            padding: 10px 15px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .wrapper {
        width: auto;
    }
}
