<div class="row shopping-list-wrapper">
    <div class="col-12">
        <app-shopping-list-edit></app-shopping-list-edit>
    </div>

    <div class="row border my-2 p-2 mx-0 align-items-center">
        <div class="col-4"><h6>Ingredient Name</h6></div>
        <div class="col-3 text-center"><h6>Amount</h6></div>
        <div class="col-3 text-center"><h6>Unit</h6></div>
        <div class="col-2 text-center"><h6>Edit</h6></div>
    </div>

    <div
        class="row border my-2 p-2 mx-0 align-items-center"
        *ngFor="let ingredientItem of ingredientList; let i = index"
        #singleIngredient
        [ngClass]="{ edit: i === editItemIndex }"
    >
        <div class="col-4">
            <span (click)="onClickName(name.innerText)" #name>{{ ingredientItem.name }}</span>
        </div>
        <div class="col-3 text-center">
            <span>{{ ingredientItem.amount }}</span>
        </div>
        <div class="col-3 text-center">
            <span>{{ ingredientItem.unit }}</span>
        </div>
        <div class="col-2 text-center">
            <button class="btn btn-primary me-2 mt-1" (click)="onEdit(i)"><i class="bi bi-pencil-square align-text-bottom"></i></button>
            <button class="btn btn-danger me-2 mt-1" (click)="onDelete(i)"><i class="bi bi-trash align-text-bottom"></i></button>
        </div>
    </div>
    <button class="btn custom-btn" (click)="onSaveList()">Save List</button>
</div>
