<h2 class="py-5">Course Assigments</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/assignments/form-td" [routerLinkActive]="'active'">Form - Template Driven</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/assignments/form-reactive" [routerLinkActive]="'active'">Form - Reactive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/assignments/pipe" [routerLinkActive]="'active'">Pipe</a>
    </li>
</ul>
<div class="py-5">
    <router-outlet></router-outlet>
</div>
